

.girisyap{
    border: 1px solid rgba(240, 248, 255, 0);
    padding: 10px;
    
    
}

.girisyap:hover{
    cursor: pointer;
    border: 1px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
  }

  .loginContainer{
  }
  
  .loginButton{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(0,118,250);
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin-top: 0.25rem;
    font-weight: 500;
    color: whitesmoke;
    text-decoration:none;
  }

  .inputs {
    /* display: none; */
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.913);
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.691);
    margin-left: -10rem;
    margin-top: 0.5rem;
    
  }

  .input{

    background-color: rgb(255, 255, 255);
    color: #515151;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin: 5px 5px;
    padding: 10px 0px 2px 0px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
  }

  .loginButton:hover{
    cursor: pointer;
  
  }