

.container{
    background-color: aliceblue;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    background-color: rgb(21,22,49);
    width: 35rem;
    height: 40rem;
    border-radius: 15px;
}

.formElements{
   color: aliceblue;
   height: 100%;
   width: 100%;
   
}